html,body{
    overflow-x:hidden;
}

/*
背景画像を表示.
*/
body{
    background-image: url(image/bg_namikimichi1_sakura.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*
桜の花びら作成
*/
.hana{
    position:absolute;
    height:0;
    width:0;
    border: 10px solid pink;
    border-radius:15px;
    border-top-right-radius:0;
    border-bottom-left-radius:0;
}
.hana::after{
	content:"";
	display:block;
	position:absolute;
	top:-7px;
	left:-7px;
	height:0;
	width:0;
	border: 10px solid pink;
	border-radius: 15px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	transform: rotate(15deg);
}

/*
花びらタイプ1の定義.
*/
.type1{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    border-color:#ffecf7;
    animation:v1 6s infinite;
}
.type1::after{
    border-color:#ffecf7;
}

/*
花びらタイプ2の定義.
*/
.type2{
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    border-color:#ffdbf0;
    animation:v2 6s infinite;
}
.type2::after{
    border-color:#ffdbf0;
}

/*
花びらタイプ3の定義.
*/
.type3{
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
    border-color:#febae2;
    animation:v3 5s infinite;
}
.type3::after{
    border-color:#febae2;
}

/*
花びらタイプ4の定義.
*/
.type4{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    border-color:#fea9db;
    animation:v4 5s infinite;
}
.type4::after{
    border-color:#fea9db;
}

/*
花びらタイプ5の定義.
*/
.type5{
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
    border-color:#fd77c6;
    animation:v5 4s infinite;
}
.type5::after{
    border-color:#fd77c6;
}

/*
花びらタイプ6の定義.
*/
.type6{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    border-color:#fd66bf;
    animation:v6 4s infinite;
}
.type6::after{
    border-color:#fd66bf;
}

/*
花びらタイプ1の花びらの回転動作.
*/
@keyframes v1{
	0%{transform: rotate(0deg);}
	50%{transform: rotate(270deg);}
	100%{transform: rotate(1deg);}
}

/*
花びらタイプ2の花びらの回転動作.
*/
@keyframes v2{
	0%{transform: rotate(-90deg);}
	50%{transform: rotate(-360deg);}
	100%{transform: rotate(-89deg);}
}

/*
花びらタイプ3の花びらの回転動作.
*/
@keyframes v3{
	0%{transform: rotate(0deg);}
	50%{transform: rotate(270deg);}
	100%{transform: rotate(1deg);}
}

/*
花びらタイプ4の花びらの回転動作.
*/
@keyframes v4{
	0%{transform: rotate(-90deg);}
	50%{transform: rotate(-360deg);}
	100%{transform: rotate(-89deg);}
}

/*
花びらタイプ5の花びらの回転動作.
*/
@keyframes v5{
	0%{transform: rotate(0deg);}
	50%{transform: rotate(270deg);}
	100%{transform: rotate(1deg);}
}

/*
花びらタイプ6の花びらの回転動作.
*/
@keyframes v6{
	0%{transform: rotate(-90deg);}
	50%{transform: rotate(-360deg);}
	100%{transform: rotate(-89deg);}
}

/*
画像切り替えボタン領域の指定.
*/
#inputlist{
    position:absolute;
    top:1500px;
    left:0;
    right:0;
    bottom:0;
    width:1000px;
    margin:auto;
    text-align: center;
}

#music{
    height:50px;
    width: 50px;
    position: fixed;
    right:0px;
    bottom: 0px;
}

/*
画像フレーム表示位置指定.
*/
#photo{
    transition: opacity 1s;
    position: relative;
    z-index: 2;
}

/*
画像の表示位置指定.
*/
.photoImg{
    position:absolute;
    top:10px;
    left:0;
    right:0;
    margin:auto;
    width:808px;
    height:540px;
    border:10px solid black;
}

.musicStpse{
    position:absolute;
    top:60px;
    left:0;
    right:0;
    margin:auto;
    width:808px;
    height:540px;
    z-index: 10000;
}
/*
画像表示位置を中央に設定.
*/
#photoList{
    text-align: center;
}

/*
スライドショーとして表示する画像のフレームとして木目作成.
*/
.slideshow {
    z-index:5000;
    list-style-type: none;
    pointer-events: none;
    width:900px;
    height:630px;
    position:absolute;
    top:50px;
    left:0;
    right:0;
    margin:auto;
    background:
    linear-gradient(
      90deg,
      rgba(208, 147, 82, 0.6),
      rgba(192, 134, 70, 0.6) 60%,
      rgba(208, 147, 82, 0.6)
    ),
    repeating-radial-gradient(
      ellipse at 60% 500%,
      #c08646,
      #c08646 0.2%,
      #d09352 0.6%,
      #d09352 1%
    );
}

/*
currentクラス以外を非表示.
*/
.slideshow > li {
    opacity: 0;
    transition: opacity 1s;
}

/*
currentクラスを表示.
*/
.slideshow > li.current {
    opacity: 1;
    z-index: 3000;
}

/*
1つ目の●に対するID定義.
*/
#select1,#select2,#select3,#select4,#select5{
    border:1px solid black;
    background-color: black;
    width: 15px;
    height:15px;
    border-radius: 50%;
    position:absolute;
    top:700px;
    left:-160px;
    right:0;
    margin:auto;
}

/*
2つ目の●に対するID定義.
*/
#select2{
    border:1px solid rgb(206, 202, 202);
    background-color: rgb(206, 202, 202);
    width: 15px;
    height:15px;
    border-radius: 50%;
    position:absolute;
    top:700px;
    left:-80px;
    right:0;
    margin:auto;
}

/*
3つ目の●に対するID定義.
*/
#select3{
    border:1px solid rgb(206, 202, 202);
    background-color: rgb(206, 202, 202);
    width: 15px;
    height:15px;
    border-radius: 50%;
    position:absolute;
    top:700px;
    left:0;
    right:0;
    margin:auto;
}

/*
4つ目の●に対するID定義.
*/
#select4{
    border:1px solid rgb(206, 202, 202);
    background-color: rgb(206, 202, 202);
    width: 15px;
    height:15px;
    border-radius: 50%;
    position:absolute;
    top:700px;
    left:80px;
    right:0;
    margin:auto;
}

/*
5つ目の●に対するID定義.
*/
#select5{
    border:1px solid rgb(206, 202, 202);
    background-color: rgb(206, 202, 202);
    width: 15px;
    height:15px;
    border-radius: 50%;
    position:absolute;
    top:700px;
    left:160px;
    right:0;
    margin:auto;
}

/*
画像切り替えボタン形成
*/
.file_button {
    display: inline-block;
    position: relative;
    padding: 1em 2.2em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background-color: #2772DB;
    overflow: hidden;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    
}

/*
画像切り替えボタンホバー時.
*/
.file_button:hover {
    background-color: #197a01;
}

/*
画像切り替えボタン.
*/
.file_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}



#on_fade, #on_fade_Pause{
    position: absolute;
    width: 100px;
    height: 100px;
    top:300px;
    left:900px;
}

.on_fade{
    z-index:6500;
    opacity:0;
    transition: opacity 1s;
}

.on_hidden{
    z-index:1000;
    opacity:1;
}


/*
レスポンシブ対応(タブレット用).
*/
@media screen and (max-width:959px){
    .slideshow{
        width:640px;
        height:370px;
    }
    .photoImg{
        width:548px;
        height:320px; 
        top:15px;   
    }

    #select1{
        top:450px;
    }
    #select2{
        top:450px;
    }
    #select3{
        top:450px;
    }
    #select4{
        top:450px;
    }
    #select5{
        top:450px;
    }

    #inputlist{
        top:1000px;
        margin:auto;
        width:900px;
    }
}

/*
レスポンシブ対応(スマホ用).
*/
@media screen and (max-width:480px){
    .slideshow{
        width:320px;
        height:220px;
    }
    .photoImg{
        width:274px;
        height:180px; 
        top:10px;   
    }

    #select1{
        top:250px;
    }
    #select2{
        top:250px;
    }
    #select3{
        top:250px;
    }
    #select4{
        top:250px;
    }
    #select5{
        top:250px;
    }

    #inputlist{
        top:550px;
        margin:auto;
        width:400px;
    }
}